@charset "UTF-8";
/*
    em HTML é id    = em CSS é # ( só pode em um elemeto da pagina )
    em HTML é class = em CSS é . ( pode em varios elementos da pagina)
*/
body{
    background-color: rgb(174, 220, 181);
}
h1{
    color: rgb(40, 178, 65);
}
/*Seletor personalizado*/
#principal{
    text-align: center;
    background-color: rgb(40, 178, 65) ;
    color: white;
}
h2{
    color: rgb(24, 107, 39);
}
.basico{
    color: rgb(0, 255, 195);
}

.intermediario{
    color: rgb(0, 115, 255);
}
.avancado{
    color: brown;
}
.destaque{
    background-color: yellow;
}