@charset "UTF-8";
*{
    font: normal 16px Arial, Verdana, serif;
}

:root{
    --cor1 :#344034;
    --cor2 :#172626;
    --cor3 :#0D1617;
}

header{
    background-color:var(--cor3);
    padding-top: 10px;
    margin-bottom: 20px;
}

header > h1{
    text-align: center;
    color: red;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 1px 2px #07142677 ;
}
header > h2{
    text-align: center;
    font-size: 2em;
    text-shadow: 1px 1px 2px #07142677 ;
}

body{

    background-color: var(--cor3);
    text-align: left;
    color: white;
    margin: 0px;
}

main{
    background-color: var(--cor2);
    border-radius: 10px;                                    /*Canto arredondado do Box*/
    box-shadow: 5px 5px 15px rgba(25, 134, 134, 0.341);   /*Sombra do Box*/
    width: 350px;                                           /*Largura do Box*/
    height: 600px;
    padding: 10px;                                          /*Espaço entre o paragrafo e a margem do box*/
    margin: auto;                                           /*Ajusta a margem do Box de acordo com o tamanho da tela do Navegador*/
}

p{
    text-align: justify;
    color: white;
    size: normal;
}

ol{
    text-align: left;
}

footer{
    background-color: var(--cor3);
    padding: 5px;
    margin-top: 15px;
    text-align: center;
}
